@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  font-size: 1.2rem;
  color: white;
}


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(199, 232, 243);
  position:absolute;
}

body {
  overflow-x: hidden;
}

:host {
  overflow: auto;
}


main {
  /* background-color: rgb(45, 49, 66); */
  margin-bottom: 0px;
}



footer {
  background-color: rgb(26, 26, 26);
  position: absolute;
  /* bottom: 0px; */
  width: 100vw;
}

.divider {
  background-image: url("../src/assets/wall/stormtrooper.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  height: 550px;
  width: 100vw;
  /* border-top: rgb(26, 26, 26) solid 1px; */
  margin-bottom: 0;
}

/* .navbar-text-section {
  margin-left: 1200px;
} */

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3% 0;
  align-items: center;
}

.project-list {
  /* width:80%; */
  align-items: center;
  align-content: center;
  align-self: center;
  /* justify-content: center; */
  /* margin:0; */
}

h2 {
  text-align: center;
  margin: 10px;
  font-size: 2.5rem;
  font-weight: bolder;
  padding-top: 3%;
}

.resume-container {
  background-color: rgb(26, 26, 26);
  text-align: center;
  padding-top: 4%;
  padding-bottom: 5%;
}

.resume-container h4 {
  font-size: 2.5rem;
  margin: 2%;
}
.resume-container h3 {
  font-size: 4rem;
}
h5 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 2.5rem;
}

.about-me-h2 {
  color: rgb(26, 26, 26);
  padding-top: 5%;
}
.projects-h2 {
  color: rgb(26, 26, 26);
  padding-top: 5%;
}

.about-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 3% 0;
  /* background-color:rgb(77, 77, 77) */
}
.about-text p {
  text-align: center;
  color: rgb(26, 26, 26);
  font-size: 1.5rem;
  width: 100%;
  padding: 5px 5%;
  /* background-color: rgb(26, 26, 26); */
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.about-me {
  width: 70%;
  min-width: 300px;
}
.pfp {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border: rgb(26, 26, 26) solid 1px;
  margin-bottom: 5%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* .about-text h3 {
  color: rgb(255, 255, 255);
} */

.proficiencies {
  width: 80%;
}

.proficiencies-container {
  background-color: rgb(26, 26, 26);
  padding-bottom: 5%;
  padding-top: 3%;
}

.prof-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 3% 0;
}
.prof-text p {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  width: 100%;
  padding: 5px 5%;
  /* background-color: rgb(26, 26, 26); */
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.prof-summary {
  width: 80%;
  margin-top: 5%;
  /* background-color: rgb(199, 232, 243); */
  /* border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; */
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.logo {
  width: auto;
  height: 75px;
  margin: 0 5px;
}
.html-logo {
  content: url("./assets/logos/html-logo.svg");
}
.css-logo {
  content: url("./assets/logos/css-logo.svg");
}
.js-logo {
  content: url("./assets/logos/js-logo.png");
}
.node-logo {
  content: url("./assets/logos/nodejs-logo.svg");
}
.jquery-logo {
  content: url("./assets/logos/jquery-logo.png");
}
.sql-logo {
  content: url("./assets/logos/mysql-logo.png");
}
.sequelize-logo {
  content: url("./assets/logos/sequelize-logo.svg");
}
.mongo-logo {
  content: url("./assets/logos/mongodb-logo.png");
}
.react-logo {
  content: url("./assets/logos/react-logo.svg");
}
.git-logo {
  content: url("./assets/logos/git-logo.png");
}

.email {
  text-decoration: none;
  transition: color 1s;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
}

.email:hover {
  text-decoration: none;
  color: white;
}

.slide1 {
  animation: slide 5s forwards;
  -webkit-animation: slide 5s forwards;
}
.slide2 {
  animation: slide 2s forwards;
  -webkit-animation: slide 2s forwards;
}
.slide3 {
  animation: slide 3s forwards;
  -webkit-animation: slide 3s forwards;
}

.scroll-section {
    scroll-margin-top: 20px;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.icon-container {
  display: flex;
}

.anim-icon {
  border: 0px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.float:hover {
  animation-name: float;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}


@media only screen and (max-width: 1024px) {
  .header-name {
    display:none;
    align-items: center;
    justify-content: center;
  }

  .app-bar {
    align-items:center;
  }

  .scroll-section {
    scroll-margin-top: 70px;
}

}

@media only screen and (max-width: 900px) {
  
  .project-card {
    max-width: 95vw;
  }

  /* .sm-hide {
    display:none;
  } */

}